.homepage--header {
  color: $white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage--header__testimonial {
  font-size: 0.85em;
}

.homepage--header__testimonial--person {
  display: flex;
  flex: 1 1 auto;

  img {
    width: 25%;
  }
}

.homepage--header__testimonial--nameloc {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 1rem;

  span {
    font-weight: 500;
  }
}

.homepage--header__reference {
  font-size: 0.75em;
  color: var(--muted);

  span,
  img {
    display: block;
  }

  img {
    margin: 0 auto;
    height: 16px;
  }
}
