@each $weight-number, $font-weight-numbers in $font-weight-numbers {
  .font-weight-#{$weight-number} {
    font-weight: #{$weight-number};
  }
}

.remove-wp-cols {
  .wp-block-column:not(:first-child) {
    margin-left: 0;
    margin-right: 0;
  }

  .wp-block-column:nth-child(2n) {
    margin-left: 0;
    margin-right: 0;
  }
}

a:not(.btn) {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
