/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$primary: #042bdc;
$secondary: #f57706;
$tertiary: #0fb682;
$bluegrey: #85959d;
$muted: #656565;
$border: #dde2e4;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  tertiary: $tertiary,
  bluegrey: $bluegrey,
  muted: $muted,
  border: $border
);

$header-bg-color: var(--secondary);
$footer-bg-color: var(--secondary);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$input-btn-padding-y: 0.625rem;
$input-btn-padding-x: 1.15rem;

$font-family-sans-serif: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Headings variable changes
$headings-line-height: 1.3;
$headings-font-weight: 700;

$font-weight-numbers: (
  400: 400,
  500: 500,
  600: 600,
  700: 700
);

$spacer: 1rem;
$spacers: (
  6: ($spacer * 4),
  7: ($spacer * 5)
);
